
@{
    ViewBag.Title = "Senha Redefinida";
}

<h2>Senha Redefinida</h2>

<div class="alert alert-block alert-info top20">
    <h4>Parabéns!</h4>
    A nova senha de <strong>@ViewBag.Nome</strong> foi enviada para o e-mail @ViewBag.Email.
</div>

<div class="top10">
    @Html.ActionLink("Voltar", "Index", new { idEmpresa = (object)ViewBag.IdEmpresa }, null)
</div>