@{
    ViewBag.Title = "Colaboradores";
}
<h2>Colaboradores</h2>

<p class="top20">
    @Html.ActionLink("Novo colaborador", "Incluir", new { idSalao = (int)@ViewBag.IdSalao })
</p>

<div class="top20">
    Salão: @Html.DropDownList("Saloes", (SelectList)@ViewBag.Saloes)
</div>

<div id="page">
    @{Html.RenderAction("Colaboradores", "Colaborador", new { idSalao = (int)@ViewBag.IdSalao });}
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#Saloes").change(function () {
            var id = $(this).val();

            $.ajax({
                url: '@Url.Action("Colaboradores", "Colaborador")',
                data: { 'idSalao': id },
                datatype: 'html',
                cache: false,
                success: function (result) {
                    $("#page").html(result);
                }
            });
        });

    });
</script>